body{
    font-family: 微软雅黑;
    color: #333333;
}
h4{
    display: inline-block;
    padding-right: 10px;
}
#header{
    float: left;
    color: white;
    background-color: #65A4FA;
    margin-right: 20px;
    padding-top: 50px;
    width: 150px;
    height: 800px;
    text-align: center;
}
#cont{
    float: left;
}
.cont0 span{
    margin-right: 30px;
}
.cont span{
    font-weight: bold;
}
p{
    margin: 0;
}